@import "../../../../../../../styles/variables";

.board.readonly {
  .board-cell {
    cursor: default;
  }
}

.board-cell {
  &.light {
    color: black;
    background-color: grey;
  }
  &.dark {
    color: white;
    background-color: black;
  }
  display: flex;
  justify-content: center;
  align-items: center;
  width: $board-cell-size;
  height: $board-cell-size;
  cursor: pointer;
}
